<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
	<title>Home</title>
</head>
<body class="container is-max-desktop">
	<div class="notification">
		<section class="category">
			<div class="tabs is-centered is-boxed">
				<ul>
					<li class="is-active">
					<a>
						<span class="icon is-small">
						<i class="fas fa-image" aria-hidden="true"></i>
						</span>
						<span>My Page</span>
					</a>
					</li>
					<li>
					<a>
						<span class="icon is-small">
							<i class="fas fa-music" aria-hidden="true"></i>
						</span>
						<span>Reviews</span>
					</a>
					</li>
					<li>
					<a>
						<span class="icon is-small"
						><i class="fas fa-film" aria-hidden="true"></i
						></span>
						<span>Rank</span>
					</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="page section is-large">
			<!--Profile-->
			<div class="box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-128x128">
							<img src="https://bulma.io/assets/images/placeholders/128x128.png" alt="Image" />
						</figure>
						</div>
						<div class="media-content">
						<div class="content">
							<strong>Hyunz</strong> <small>@백준아이디</small>
							&nbsp&nbsp&nbsp&nbsp&nbsp<strong class="tag is-rounded">300pt</strong>
							<br>
							Today    1<br>
							Total    100<br>
							Rank    Gold<br>
							<span class="tag is-danger">Very Hard</span>&nbsp&nbsp1&nbsp
							<span class="tag is-warning">Hard</span>&nbsp&nbsp2&nbsp
							<span class="tag is-success">Normal</span>&nbsp&nbsp6&nbsp
							<span class="tag is-link">Easy</span>&nbsp&nbsp3
							<!--chart-->
			<div class="chartContainer_ container text-center">
				<div class="row">
					<div class="col-md-12">
						<canvas id="chart-container"></canvas>
					</div>
				</div>
			</div>
						</div>
					</div>
				</article>
			</div>
			<!--취약점 메모-->
			<div class="type_">
				<article class="message">
					<div class="message-header">
						<p>Hyunz</p>
					</div>
					<div class="message-body">
						<strong><a>취약점</a></strong><br>
						<strong>정렬</strong> - 특히 버블정렬 관련 알고리즘 연습이 필요합니다.<br>
						<strong>컴퓨터 구조</strong> - 컴퓨터 구조 관련 이론 지식이 빈약합니다.
					</div>
				</article>
			</div>
			<!--코드 리뷰-->
			<div class="reviews_ box">
				<article class="media">
					<figure class="media-left">
						<p class="image is-64x64">
						<img src="https://bulma.io/assets/images/placeholders/128x128.png" />
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>code no.<a href="https://www.acmicpc.net/problem/1000">1000</a></strong>
								<br />
									이 코드는 정말 최악이다. 여기에 쓴 내 시간이 너무 아깝다.
								<br />
								<small><a>Edit</a> · <a>Delete</a> · 3 hrs</small>
							</p>
						</div>
					</div>
				</article>
				<article class="media">
					<figure class="media-left">
						<p class="image is-64x64">
						<img src="https://bulma.io/assets/images/placeholders/128x128.png" />
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>code no.<a href="https://www.acmicpc.net/problem/1000">1000</a></strong>
								<br />
									이 코드는 정말 최악이다. 여기에 쓴 내 시간이 너무 아깝다.
								<br />
								<small><a>Edit</a> · <a>Delete</a> · 3 hrs</small>
							</p>
						</div>
					</div>
				</article>
				<article class="media">
					<figure class="media-left">
						<p class="image is-64x64">
						<img src="https://bulma.io/assets/images/placeholders/128x128.png" />
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>code no.<a href="https://www.acmicpc.net/problem/1000">1000</a></strong>
								<br />
									이 코드는 정말 최악이다. 여기에 쓴 내 시간이 너무 아깝다.
								<br />
								<small><a>Edit</a> · <a>Delete</a> · 3 hrs</small>
							</p>
						</div>
					</div>
				</article>
			</div>
		</section>
	</div>

	<!--Chart.js------------------------------------->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
	<script>
		//Chart.js 이용한 차트 출력
		const chartEI = document.getElementById('chart-container').getContext('2d');
		const barChart = new Chart(chartEI,{
			type:'line',
			data:{
				labels:['Mon','Tue','Wed','Thu','Fri','Sat','Sun'],
				datasets:[{
					label:'Weekly',
					borderWidth:3,
					data:[
						3, 2, 5, 0,2
					]
				}]
			}
		});
	</script>
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Jungle Algorithm</strong> by team <strong>H</strong>
    </p>
  </div>
</footer>
</html>