{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
	<title>Review</title>
</head>
<body class="container is-max-desktop">
		<section class="page section is-large">
			{% block content %}
			<div class="reviews_ box">
				<!--my review box-->
				<article class="media">
					<figure class="media-left">
						<p class="image is-64x64">
						<img src="../static/img_icon.png" />
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p class="is-flex is-justify-content-space-between is-align-items-center">
								<strong>
									code no.<a href="https://www.acmicpc.net/problem/1000">1000</a>
								</strong>
								
								<span class="stars_">
									@{{nickname}}
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star"></i>
								</span>
							</p>
								{{review_text}}
							<br/>
							<small><a>Edit</a> · <a>Delete</a> · 3 hrs</small>
						</div>
					</div>
				</article>
				<!--other's review box-->
				<article class="media">
					<figure class="media-left">
						<p class="image is-64x64">
						<img src="../static/img_icon.png" />
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p class="is-flex is-justify-content-space-between is-align-items-center">
								<strong>
									code no. <a href="https://www.acmicpc.net/problem/1000">620</a>
								</strong>
								
								<span class="stars_">
									@dodsanf(nickname)
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star"></i>
								</span>
							</p>
								마감할 수 있겠지. 열심히 해보자.
							<br/>
							<small>3 hrs</small>
						</div>
					</div>
				</article>
				
			</div>
			<!--reviewing section-->
			<article class="media">
				<figure class="media-left">
					<p class="image is-64x64">
					<img src="../static/img_icon.png" />
					</p>
				</figure>
				<div class="media-content">
					
					<div class="field">
						<p class="control">
							<textarea class="textarea" placeholder="Post your own review.."></textarea>
						</p>
					</div>
					<div class="field is-grouped is-justify-content-space-between">
						<!--question no.-->
						<div class="control">
							<div class="select is-normal">
								<select>
									<option>1111번</option>
									<option>672번</option>
								</select>
							</div>
						</div>
						<!--post bttn-->
						<div class="field">
							<p class="control">
								<button class="button">Post comment</button>
							</p>
						</div>
					</div>
				</div>
			</article>
			{% endblock %}
		</section>
	<!--Chart.js-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
	<!--fontawsome : icon용-->
	<script src="https://kit.fontawesome.com/622135c32a.js" crossorigin="anonymous"></script>
	<script>
		//Chart.js 이용한 차트 출력
		const chartEI = document.getElementById('chart-container').getContext('2d');
		const barChart = new Chart(chartEI,{
			type:'line',
			data:{
				labels:['Mon','Tue','Wed','Thu','Fri','Sat','Sun'],
				datasets:[{
					label:'Weekly',
					borderWidth:3,
					data:[
						3, 2, 5, 0,2
					]
				}]
			}
		});
	</script>


</body>

</html>